<li class="media col-12 col-md-6 col-lg-3 py-2">
    <a href="{{ book.absolute_url }}"><img src="{{ book.image }}" class="mr-3" alt="{{ book.name }}"></a>
    <div class="media-body">
      <a href="{{ book.absolute_url }}"><h5 class="mt-0 mb-1 book-title">{{ book.name }}</h5></a>
      <p class="book-author">{{ book.author.all.0.name }}</p>
      {% if rent %}
	    <span class="badge badge-{{ rent.badge_type }}">{{ rent.return_date_str }}</span>
  		{% else %}
  	<span class="badge badge-dark">Items: {{ book.quantity }}</span>
      {% endif %}
    </div>
  </li>
