{% extends 'base/base.html'%}
{% block title %}About - Library App{% endblock%}

{% block body %}
{% if not user.is_authenticated %}
<div class="row mt-4">
	<div class="col-12 col-lg-5">
		<img class="img-fluid my-3" src="https://images.unsplash.com/photo-1519682337058-a94d519337bc" alt="Apply Books">
		<p class="mt-1 mb-3">
			<small class="text-muted">Since this a test project applying for a membership won't work, but you can generate an user by pressing the button bellow.</small>
		</p>
		<a class="btn btn-sm btn-secondary text-white" href="{% url 'createRandomUser' %}">Create Random User</a>
	</div>
	<div class="col-12 col-lg-7">
		<h4 class="font-weight-bold my-3">Apply for a membership</h4>
		<p class="text-muted">Under contruction...</p>
	</div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  You're already a member.
</div>
{% endif %}
{% endblock%}
