{% extends 'base/base.html'%}
{% block title %}{{ book.name }}{% endblock%}

{% block body %}

<div class="container">


	<div style="max-width: 1000px; margin: 0 auto;">
		<div class="row">
			<div class="align-items-center col-12 p-0 py-3">
				<div class="d-inline float-right">
						

						{% if not rented %}
							<a href="{% url 'rentBook' book.pk %}">
								<span class="mr-2" style="color: #478eff;"><span style="color: dark;" data-feather="book"></span> Rent</span>
							</a>
						{% endif %}

						<span class="mr-2"style="color: #d09115;"><span style="color: dark;" data-feather="bookmark"></span> Bookmark</span>

						{% if request.user in book.likes.all %}
						<a href="{% url 'dislikeBook' book.pk %}"><span style="color: red;"><span data-feather="chevron-down"></span> Dislike</span></a>
						{% else %}
						<a href="{% url 'likeBook' book.pk %}"><span style="color: green;"><span data-feather="chevron-up"></span> Like</span></a>
						{% endif %}
						
				</div>
				<h3 class="d-inline col-12 py-3 font-weight-bold">{{ book.name }}</h3>
			</div>
			<div class="col-3">
				<img class="img-fliud" src="{{ book.image }}" alt="{{ book.name }}" style="width: 100%">
			</div>
			<div class="col-9">
				{% if rented %}
					<span class="badge badge-secondary">You have an active rent for this book.</span><br><br>
				{% endif %}
				<b>Author:</b> <a href="{{ book.author.all.0.absolute_url }}">{{ book.author.all.0 }}</a><br>
				<b>ISBN:</b> {{ book.isbn }}<br>
				<b>Release Date:</b> {{ book.release_date }}<br>
				<b>Publisher:</b> {{ book.publisher }}<br>
				<b>Language:</b> {{ book.language_code }}<br>
				<b>Number of Pages:</b> {{ book.number_of_pages }}<br>
				<b>Formart:</b> {{ book.format_of_release }}<br>
				<b>Category:</b> {{ book.category }}<br>
				<b>Quantity:</b> {{ book.quantity }}<br><br>
				<b>Likes:</b> {{ book.likes.all.count }}<br>
			</div>
			<div class="col-12 pt-3">
				<p class="text-muted">{{ book.description|safe }}</p>
			</div>
			
		</div>
		{% include 'snnipets/book_card_deck.html' with book_set=book.author.all.0.book_set.all|slice:":4" title="Books by this author" %}
		<hr>
		{% for serie in book.series.all %}
			{% include 'snnipets/book_card_deck.html' with book_set=serie.books.all title=serie %}
		{% endfor %}
	</div>


</div>
{% endblock%}
