{% extends 'base/base.html'%} {% block title %}Index{% endblock%} {% block body %}

<div class="container">

	{% if user.is_authenticated %}
		{% if user.profile.rents.all %}
		<div class="py-3">
			<h2 class="category-title">My last rents</h2>
			<div class="row">
				{% for rent in user.profile.rents.all|slice:":4" %}
					{% include 'snnipets/book_card.html' with book=rent.book %}
				{% endfor %}
			</div>
		</div>
		<hr> 
		{% endif %}
	{% endif %}

	<div class="row">
		<div class="col-12 col-md-4 order-2 order-md-1">
			<div class="mb-4">
				<h2>National Public Library</h2>
				<img class="img-fluid pb-3" src="https://images.unsplash.com/photo-1508060793788-7d5f1c40c4ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80">
				<p class="mb-1"><i class="text-muted mr-2" data-feather="info"></i>{% lorem 6 w random %}</p>
				<p class="mb-1"><i class="text-muted mr-2" data-feather="info"></i>{% lorem 6 w random %}</p>
				<p class="mb-1"><i class="text-muted mr-2" data-feather="info"></i>{% lorem 6 w random %}</p>
			</div>

			{% if not user.is_authenticated %}
			<hr>
			<div class="login-div">
				<p class="font-weight-bold login-title">Login</p>
				<form>
					<div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="user-id"><i class="text-muted" data-feather="user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Library ID" aria-label="Library ID" aria-describedby="user-id">
						</div>

						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="pin"><i class="text-muted" data-feather="lock"></i></span>
							</div>
							<input type="password" class="form-control" placeholder="PIN" aria-label="PIN" aria-describedby="pin">
						</div>

					</div>
					<button type="submit" class="btn btn-sm btn-primary">Submit</button>
				</form>
			</div>
			<hr>
			<div class="login-div">
				<p class="font-weight-bold login-title">Apply for a membership</p>
				<p class="text-justify">{% lorem 1 p random %}</p>
				<button class="btn btn-sm btn-dark">Apply</button>
			</div>
			{% endif %}

		</div>
		<div class="news col-12 col-md-8 order-1 order-md-2">
			{% for new in news %}
				{% include 'snnipets/new_post.html' %}
			{% endfor%}

		</div>
	</div>

</div>

{% endblock%}
