{% extends 'base/base.html'%}
{% block title %}{{ new }}{% endblock%}

{% block body %}
	<div class="new-div pt-4">
	<div class="row">
		<div class="col-12 col-lg-5">
			<img class="img-fluid pb-3" src="{{ new.image }}" alt="{{ new.title }}">
			<p class="small text-muted"><i data-feather="calendar"></i> {{ new.date_added }} | <i data-feather="user"></i> {{ new.author }}</p>
		</div>
		<div class="col-12 col-lg-7">
			<a href="{{ new.absolute_url }}"><h2 class="category-title">{{ new.title }}</h2></a>
			<p>{{ new.body }}</p>
		</div>
	</div>
	</div>
{% endblock%}
