{% extends 'base/base.html'%}
{% block title %}{{ rent }} Account{% endblock%}

{% block body %}
<div class="row mt-3">
	{% include 'snnipets/book_card.html' with book=rent.book %}
	<div class="col-9">
		{% if rent.active %}
		<a class="btn btn-sm btn-dark text-white float-right" href="{% url 'returnRent' rent.id %}">Mark as returned</a>
		{% endif %}
		<p class="text-muted">
		<b>User:</b> {{ rent.user }}<br>
		<b>Date Rented:</b> {{ rent.date_rented }}<br>
		<b>Returned to:</b> {{ rent.returned_to }}<br>
		<b>Returned date:</b> {{ rent.returned_date }}<br>
		</p>
	</div>
</div>
{% endblock%}
